- title 'Piece of the Future => FAQ'
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td{:align => "left", :style => "background: url('/images/thecontent_quotebg_purp.png') no-repeat; height: 155px;", :valign => "top"}
      %img{:height => "155", :src => "/images/thecontent_quote_06.png", :width => "890"}/
  %tr
    %td{:align => "left", :valign => "top"} &nbsp;
  %tr
    %td{:align => "left", :valign => "top"}
      %img{:height => "64", :src => "/images/thecontent_title_faqs.png", :width => "890"}/
  %tr
    %td{:align => "left", :valign => "top"}
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "890"}
        %tr
          %td{:align => "left", :valign => "top"}
            %img{:height => "31", :src => "/images/thecontent_faqs_01.png", :width => "407"}/
          %td{:align => "right", :rowspan => "12", :valign => "top", :width => "280"}
            %img{:height => "400", :src => "/images/sidebanners_faqs.png", :width => "270"}/
        %tr
          %td{:align => "left", :style => "padding-left: 52px;", :valign => "top"}
            Its simple, we are trying to raise money for education.  All   proceeds will be      used to fund hundreds of schools, supply thousands   of teachers with resources,      and provide millions of students with   educational opportunities.
            %br/
        %tr
          %td{:align => "left", :valign => "top"}
            %br/
            %img{:height => "31", :src => "/images/thecontent_faqs_02.png", :width => "407"}/
        %tr
          %td{:align => "left", :style => "padding-left: 52px;", :valign => "top"} Tomorrow's Future Foundation is a 501(c)(3) non-profit      organization   that relies on our annual operating income from the generosity of        individuals and corporate donors whom have taken a vested interest in   our      youths educational process.
        %tr
          %td{:align => "left", :valign => "top"}
            %br/
            %img{:height => "31", :src => "/images/thecontent_faqs_03.png", :width => "407"}/
        %tr
          %td{:align => "left", :style => "padding-left: 52px;", :valign => "top"}
            In an effort to raise awareness and funds, we are selling $200,000 boxes        for $5 per box. The motivation for doing this is to SUPPORT   EDUCATION.            Everyone is welcome to become part of the future   and donate to receive a box,      which are available for $5.
            %br/
            = succeed "You" do
              %br/
            can buy as many boxes as you like, as long as there are boxes available (see the live stats in the top right corner of the page). When you buy a box, you can then display an image/ad/logo of your choice in the space you have purchased. You can also have the image click through to your own website. However, no obscene or offensive images are allowed and will not be posted.
            %br/
            = succeed "The" do
              %br/
            boxes you buy will be displayed on the homepage permanently as you sign up to renew annually. The homepage will not change. Tomorrows Future Foundation wants it to become a kind of Educational Internet time capsule. So, in the long run, the boxes will offer good value and raise very needed funds. You will be part piece of Educational Internet history!
            %br/
            %br/
            Our organization operates by locating and filling educational voids found throughout school systems by supplying schools and classrooms with tools and resources. It is our belief that in order for our youth to be successful in tomorrow's world, students must become prepared today. The Foundation's contributions to the classrooms are in an effort to make for a better established tomorrow.
        %tr
          %td{:align => "left", :valign => "top"}
            %br/
            %img{:height => "31", :src => "/images/thecontent_faqs_04.png", :width => "407"}/
        %tr
          %td{:align => "left", :style => "padding-left: 52px;", :valign => "top"}
            All uploaded images must be in
            %a{:href => "http://en.wikipedia.org/wiki/Portable_Network_Graphics"} PNG
            ,
            %a{:href => "http://en.wikipedia.org/wiki/Jpg"} JPG
            ,or
            %a{:href => "http://en.wikipedia.org/wiki/Gif"} GIF
            format.
        %tr
          %td{:align => "left", :valign => "top"}
            %br/
            %img{:height => "31", :src => "/images/thecontent_faqs_05.png", :width => "407"}/
        %tr
          %td{:align => "left", :style => "padding-left: 52px;", :valign => "top"}
            You will have the opportunity to win 513 prizes totaling in $500,000 Link to piece of the future Prize page.
            %br/
            %br/
            You will also have an image and a link to your site on the homepage of a site that could potentially be seen by millions of people over the coming years.
        %tr
          %td{:align => "left", :valign => "top"}
            %br/
            %img{:height => "31", :src => "/images/thecontent_faqs_06.png", :width => "407"}/
        %tr
          %td{:align => "left", :style => "padding-left: 52px;", :valign => "top"} You can upload any image of your choosing from logos to pictures, so   long as      your upload does not contain inappropriate or obscene   images or links.
- content_for :bannerimg do
  %img{:height => "258", :src => "/images/bannerimg_woman.png", :width => "1000"}/