- title 'Piece of the Future => Prizes'
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td{:align => "left", :style => "background: url('/images/thecontent_quotebg_lightblue.png') no-repeat; height: 155px;", :valign => "top"}
      %img{:height => "155", :src => "/images/thecontent_quote_03.png", :width => "890"}/
  %tr
    %td{:align => "left", :valign => "top"} &nbsp;
  %tr
    %td{:align => "left", :valign => "top"}
      %img{:height => "64", :src => "/images/thecontent_title_prizes.png", :width => "890"}/
  %tr
    %td{:align => "left", :valign => "top"}
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "890"}
        %tr
          %td{:align => "left", :style => "padding: 20px;", :valign => "top"} Every donor’s generosity will greatly impact the lives of so    many.   Upon donating you will receive your very own Piece of the  Future,   as   well as, the opportunity to register an educational  institution,     school, classroom, or teacher to receive a donation  on your behalf.      Educational institutions, schools, classrooms,  and teachers will be     randomly selected to receive a donation using  a lottery style drawing.      Registered recipients may receive one of  the more than  500      giveaways.
        %tr
          %td{:align => "left", :valign => "top"}
            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "890"}
              %tr
                %td{:align => "center", :valign => "top", :width => "148"}
                  %img{:height => "240", :src => "/images/prizes_1card.png", :width => "140"}/
                %td{:align => "center", :valign => "top", :width => "148"}
                  %img{:height => "240", :src => "/images/prizes_1.png", :width => "140"}/
                %td{:align => "center", :valign => "top", :width => "148"}
                  %img{:height => "240", :src => "/images/prizes_10.png", :width => "140"}/
                %td{:align => "center", :valign => "top", :width => "148"}
                  %img{:height => "240", :src => "/images/prizes_50.png", :width => "140"}/
                %td{:align => "center", :valign => "top", :width => "148"}
                  %img{:height => "240", :src => "/images/prizes_200.png", :width => "140"}/
                %td{:align => "center", :valign => "top", :width => "150"}
                  %img{:height => "240", :src => "/images/prizes_250.png", :width => "140"}/
              %tr
                %td{:align => "center", :colspan => "6", :valign => "top"}
                  %img{:height => "240", :src => "/images/ipadraffle.png", :width => "600"}/
- content_for :bannerimg do
  %img{:height => "258", :src => "/images/bannerimg_teacher.png", :width => "1000"}/