- title 'Piece of the Future => Buy-A-Box'
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td{:align => "left", :style => "background: url('/images/thecontent_quotebg_green.png') no-repeat; height: 155px;", :valign => "top"}
      %img{:height => "155", :src => "/images/thecontent_quote_02.png", :width => "890"}/
  %tr
    %td{:align => "left", :valign => "top"} &nbsp;
  %tr
    %td{:align => "left", :valign => "top"}
      %img{:height => "64", :src => "/images/thecontent_subtitle_terms.png", :width => "890"}/
  %tr
    %td{:align => "left", :valign => "top"}
      %div
        %dl
        %h3 Submission Rules
        %dd The minimum donation is $5 (1 box), and the maximum donation is the  remaining amount of boxes.
        %dd When donating for boxes you will not have any ownership rights to   any  part of the homepage or this site, but will be granted the right to    submit an image and link which will then be published on the homepage    in the respective space you have paid for.
        %dd You cannot change the image or link once you have submitted them,   so  you must be sure of the image &amp; link you want on the homepage,   which  will be there for at least 10 years.
        %dd If your image and link are accepted and published on the homepage,  you will not receive a refund.
        %dd Tomorrows Future Foundation guarantees your picture will remain    online as long as you continue to donate to the Piece of the Future   cause.
        %dd No obscene/offensive/adult images/links will be accepted, and   Tomorrows  Future Foundation will decide what is appropriate for the   site. If you  submit an image or link that is rejected, you will have   the opportunity  to provide an alternative, otherwise your money will be   refunded and you  will lose your boxes.
        %dd If for whatever reason in the future you want your image and link    removed from the homepage, you can do that, but you will not get a    refund and the space will become publicly available again.
        %dd
          All uploaded images must be in
          %a{:href => "http://en.wikipedia.org/wiki/Portable_Network_Graphics"} PNG
          ,
          %a{:href => "http://en.wikipedia.org/wiki/Jpg"} JPG
          ,or
          %a{:href => "http://en.wikipedia.org/wiki/Gif"} GIF
          format.
        %dd Images must NOT be animated.
        %dd Links must be to web pages only and begin with http://
        %dd You must have the authority to provide the image and link for the website  you submit.
        %dd Funds must be fully received and cleared before your boxes go live on the homepage.
        %dd There might be occasional downtime for site maintenance.
        %dd Once you have ordered and the funds have cleared your box will be published within  72 hours.
        %dl
          %dt
            %h3 Limited Time Give Away:
        %dd For a Limited amount of time (until August10th 2011), you will receive a iPad raffle  ticket for each box purchased.
        %dl
          %dt
            %h3 Final Drawing for Boxes
        %dd The Final drawing for the giveaways will be done in a lottery   type drawing  with tumbler type device. Anyone who wishes to be present   at the actual  drawing may do so.
        %dd The drawing will be held in Jacksonville Florida when and only   when all  200,000 boxes on the site are purchased. The drawing will be   held within  60 days after the final box is purchased.
        %dd Location of drawing will be determined no later than 10 days after the  last box is sold.
        %dd The winner of this fundraiser need not be present to win.
        %dd Any business or person whose box number is selected at the final    drawing will receive their prize or prizes and educational will    receive there donation or donations from Tomorrows Future Foundation  on   the winners behalf.
        %dd Prize will be paid in full no longer than 30 days after final drawing.
      %div{:style => 'margin:0 auto;width:800px;padding-top:20px;text-align:center;'}
        %p
          ** Please note that your donation to
          = link_to 'www.pieceofthefuture.org', root_url
          will automatically be
          renewed by PayPal services.  If you wish for this donation to be a one-time donation
          and do not wish to have your donation auto-renewed, please send an email or
          = link_to 'contact us', contact_path
          if you would like this removed. **
        = link_to 'Agree', new_donation_path, :class => 'styled_button blue', :style => 'color:white;'
.clear
- content_for :bannerimg do
  %img{:height => "258", :src => "/images/bannerimg_teacher.png", :width => "1000"}/
