- title "Piece of the Future => Buy-A-Box"
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td{:align => "left", :style => "background: url('/images/thecontent_quotebg_green.png') no-repeat; height: 155px;", :valign => "top"}
      %img{:height => "155", :src => "/images/thecontent_quote_02.png", :width => "890"}/
  %tr
    %td{:align => "left", :valign => "top"} &nbsp;
  %tr
    %td{:align => "left", :valign => "top"}
      %img{:height => "64", :src => "/images/thecontent_title_buyabox.png", :width => "890"}/
  %tr
    %td{:align => "left", :valign => "top"}
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "890", :style => 'line-height:1.2em;'}
        %tr
          %td{:align => "left", :valign => "top"}
            %img{:height => "43", :src => "/images/thecontent_about_potf.png", :width => "431"}/
        %tr
          %td{:align => "left", :style => "padding-left: 50px; padding-right: 50px;", :valign => "top"} Creativity is an abstract method of thinking. It represents the combination of divergent  and convergent thinking. It relies on ones ability to generate unique ideas and then  combine those ideas into the best result. According to research; &ldquo;Kids who came up with  more good ideas, grew up to be entrepreneurs, inventors, college presidents, authors,  doctors, diplomats, and software developers.&rdquo; Our children are Our Future, they are  the hope of needed solutions to the limitless problems that plaque our world. A Students  ability to think is what fuels society and progression. In an effort to allow creativity to  flourish again, we can no longer accept such devastating cuts to our youth&rsquo;s educational  process. These cuts have compiled over recent years to billions of dollars, and equally as  many lost opportunities.
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "890", :style => 'line-height:1.2em;'}
        %tr
          %td{:align => "left", :style => "padding-top: 30px; padding-right: 15px;", :valign => "top", :width => "476"}
            %img{:height => "37", :src => "/images/thecontent_about_buyingbox.png", :width => "431"}/
            %a{:href => "http://www.tomorrowsfuturefoundation.org"} Tomorrow's Future Foundation
            is a 501(c)3 non-profit organization, that is exploring a  creative ways to counterbalance the unfortunate funding problems that are hindering the  educational process. Please join
            %a{:href => "http://www.tomorrowsfuturefoundation.org"} Tomorrow's Future Foundation
            in a show of Support for  Education. As we raise awareness and funds for our children in an effort to establish a  better tomorrow. A donation of $5 dollars a year, equates to $0.42/month. It is our belief,  that it only takes a little &ldquo;change&rdquo; to make a huge difference.
            %br
            %br
            In recognition of your generosity and concern, a picture of your choosing will be  uploaded to
            %a{:href => "http://pieceofthefuture.org"} pieceofthefuture.org
            and become a part of our educational collage.
            %br
            %br
            %h3 The collage will stand as a statement of Our Support!
          %td{:align => "right", :style => "padding-top: 30px;", :valign => "top", :width => "414"}
            %a{:href => "/terms_and_conditions", :onmouseout => "MM_swapImgRestore()", :onmouseover => "MM_swapImage('chalkboard','','/images/thecontent_chalkbuyhover.png',1)"}
              %img#chalkboard{:border => "0", :height => "251", :name => "chalkboard", :src => "/images/thecontent_chalkbuy.png", :width => "410"}/
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "890", :style => 'line-height:1.2em;'}
        %tr
          %td{:align => "left", :style => "padding-left: 50px; padding-top: 30px; padding-right: 30px;", :valign => "top"}
            %img{:height => "37", :src => "/images/thecontent_about_taxes.png", :width => "431"}/
            %br/
            %span{:style => "font-weight: bold"} Beyond an investment in our youths future, a donation to      Tomorrow's Future Foundation can also be a financial benefit come tax time.
            %br/
            %br/
            %span{:style => "font-weight: bold"} Here are some considerations to ensure you get the maximum benefit from your generous donation:
            %br/
            %blockquote
              1.	As a nonprofit corporation, Tomorrows Future Foundation is classified by the Internal
              Revenue Services
              %br/
              as exempt under IRCSection S01(c)(3)                            and as a public charity under
              IRCSection 509 .
              %br/
              2.	Keep records of your donations, including importantly, receipts or letters from
              Tomorrow's Future Foundation acknowledging receipt of your donation .
              %br/
              3.	Donations of more than $250 must be supported by record of payment from your bank.
              (Cancelled check, bank statement, etc.)
              %br/
              4.	Generally, no more than 50 percent of your adjusted gross income can be deducted. If you
              donate more, carry that undeductable amount over into the next year.
            %span{:style => "font-weight: bold"} Private Foundations
            %br/
            As a public charity, Tomorrows Future Foundation is qualified to receive grants from private
            foundations. A grant to Tomorrows Future Foundation will help your foundation satisfy its annual
            distribution requirements while helping Tomorrows Future Foundation accomplish its mission of
            serving children.
            %br/
            %br/
            %span{:style => "font-weight: bold"} Donations of Securities
            %br/
            In addition to donating cash to Tomorrows Future Foundation, individual donors may make
            gifts of publicly traded securities. The donor is not taxed on any gain in the property, and the donor
            may deduct the fair market value of the gifted securities against other income (subject to certain
            limitations).
            %br/
            %br/
            %span{:style => "font-weight: bold"}
              \...We Recommend You Contact A Tax Professional For More Information.
            %br/
            %br
            = link_to 'Buy-A-Box', '/terms_and_conditions', :class => 'styled_button blue', :style => 'color:white;'
- content_for :bannerimg do
  %img{:height => "258", :src => "/images/bannerimg_puzzle.png", :width => "1000"}/