!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', "http-equiv" => "Content-Type" }
  %body
    %p
      Thank you
      = @name
      for your donation!
    %p
      Your donations do everything from purchasing pencils, paper and text books to help
      supply teachers with necessary materials to educate our future leaders...our children.
    %p
      Again, we want to thank you for donating today and we hope you enjoy the rest of your
      visit here at
      = link_to "PieceoftheFuture.org", 'http://pieceofthefuture.org'
    %p
      Your image will be uploaded in 48-72 hours along with your link and donation
      information. Please check back to watch the growth of your cause.
    %p
      \--
      %br
      = link_to "Piece of the Future", 'http://pieceofthefuture.org'
      from
      = link_to "Tomorrow's Future Foundation", 'http://www.tomorrowsfuturefoundation.org'