#top
  #insidetop
    .top_1
      .top_2
        .top_3
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "height: 38px;", :width => "100%"}
            %tr{:valign => "middle"}
              %td{:width => "183"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "176"}
                  %tr
                    %td{:width => "69"}
                      %img{:height => "31", :src => "/images/sitemeter_left.png", :width => "74"}/
                    %td{:align => "center", :style => "background: url('/images/sitemeter_mid.png') repeat-x; font-size: 11px; color: #ccc;", :width => "98"}
                      %a{:title => "web stats", :href => "https://statcounter.com/", :target => "_blank", :style => 'border:none;'}
                        /%img{:class => "statcounter", :src => "https://c.statcounter.com/6763400/0/dace8399/0/", :alt => "web stats", :style => 'border:none;'}
                    %td{:width => "16"}
                      %img{:height => "31", :src => "/images/sitemeter_right.png", :width => "18"}/
              %td#top_social{:width => "116"}
                %a#topfacebook{:href => "https://www.facebook.com/pages/Tomorrows-Future-Foundation/127003594039657?sk=wall", :target => "_blank", :alt => 'Facebook Link'}
                %a#toptwitter{:href => "https://twitter.com/tffoundation", :target => "_blank", :alt => 'Twitter Link'}
                %a#topmyspace{:href => "https://www.myspace.com/tomorrowsfuturefoundation", :target => "_blank", :alt => 'MySpace Link'}
              %td{:width => "199"}
                %span{:style => "font-size: 11px; color: #444; font-weight: bold;"}= Time.now.strftime("%B %d, %Y")
              %td{:width => "69"}
                %img{:alt => "", :height => "38", :src => "/images/date_spacer.png", :width => "9"}/
              %td{:width => "214"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "200"}
                  %tr
                    %td{:width => "96"}
                      %img{:height => "31", :src => "/images/reservedboxes_left.png", :width => "96"}/
                    %td{:align => "center", :style => "background: url('/images/reservedboxes_mid.png') repeat-x; color: #630;vertical-align:top;padding-top:8px;", :width => "86"}
                      - if Box.first
                        = 200000 - Box.first.quantity
                    %td{:width => "18"}
                      %img{:height => "31", :src => "/images/reservedboxes_right.png", :width => "18"}/
              %td{:width => "200"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "200"}
                  %tr
                    %td{:width => "96"}
                      %img{:alt => "", :height => "31", :src => "/images/availboxes_left.png", :width => "96"}/
                    %td{:align => "center", :style => "background: url('/images/availboxes_mid.png') repeat-x; color: #F9D632;vertical-align:top;padding-top:8px;", :width => "86"}
                      - if Box.first
                        = Box.first.quantity
                    %td{:width => "18"}
                      %img{:alt => "", :height => "31", :src => "/images/availboxes_right.png", :width => "18"}/
